-
  cart = [{
    title: "Act Raiser",
    quantity: 1,
    price: 50
  }, {
    title: "Metroid Prime",
    quantity: 2,
    price: 10.5
  }, {
    title: "Silent Hill 3",
    quantity: 1,
    price: 25
  }];