title_font = "Fjalla One", sans-serif

colors = {
  background: #333,
  primary: #01b0f0,
  secondary: #ff358b,
  tertiary: #aeee00
}

logos = {
  "&.snes":
    height: 44px
  "&.ps2":
    height: 15px
    background-position: 0 -44px
  "&.gc":
    height: 73px
    background-position: 0 -59px
}

button = function() {
    display: inline-block
    padding: 8px 15px
    font: title_font
    text-decoration: none
    color: #000
    border: 3px double colors.primary
    background: colors.primary
    padding: 5px 10px
    font-size: 0.9em
    border: none
}